[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/fabianl16/client-gateway-lab.git
[submodule "worker"]
	path = worker
	url = https://github.com/fabianl16/worker-py-core.git
